.invoice{
    border: 1px solid black;
    margin: 30px;
    /* width: 21cm;
    height: 29.7cm; */

}

header .right{
font-size: 2.4rem;
padding-top: 11%;
padding-left: 20%;
}

.shippingDetails .left ,.shippingDetails .right{
width: 45vw;
}

.title{
background-color: lightgrey;
}

.thead{
background-color: lightgrey;
}

footer .left , footer .right{
width: 45vw;
}

.totalRs , .authSign{
height: 100px;
border: 1px solid black;
}


@media screen and (max-width: 22cm) {
.invoice{
height: 29.7cm;
width: 21cm;
}

header .right{
font-size: 1.5rem;
padding-top: 20%;
padding-left: 0%;
/* 		width: 0px; */
}
}